.text{
    background-color: rgb(83, 195, 233);
    padding: 10px;
    color: white;
    margin: 0%;
}
.box{
    width: 450px;
    border: 2px solid; color: rgba(11, 124, 120);
    padding: 2rem;
    margin: 100px auto;
    background-color: aquamarine;

}
.box1{
    color: white;
    width: 250px;
    border: 2px solid;
    padding: 2rem 0rem 2rem 5rem;
    margin: 50px auto;
    background-color: rgb(240, 117, 17);
    border-radius: 10px
}
.text2{
    background-color: rgb(63, 29, 187);
    color: white;
    padding: 2rem;
}