* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  background: linear-gradient(#a8edea, #fed6e3);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  margin-bottom: 10px;
}

.tag.technology { background-color: #2196f3; }
.tag.food { background-color: #ffb74d; }
.tag.automobile { background-color: #f44336; }

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details h5 {
  font-size: 14px;
}

.user-details small {
  color: gray;
  font-size: 12px;
}
